<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <h1>Hello {{ name }}! You are in the contact page.</h1>
    {% if display %}
    <h2>this is been displayed</h2>
    {% else %}
    <h2>not displayed</h2>
    {% endif %}

    {% for x in mylist %}
    <p>{{x+1}}</p>
    {% endfor%}

    {% for k, v in mydict.items() %}
    <p>{{k }}: {{v}}</p>
    {% endfor %}

    <img src="{{ url_for('static', filename='images/test.jpg') }}" alt="dogs playing">
</body>
</html>